body{
margin: 0;
font-weight: bold;
background: black;
font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
color: white;
}
.main-page{
    background: url("NG-en-20221114-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    /* padding: 4em 0; */
}
.second-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 3em 0 3em;
   
}
.netflix-logo-width{
    width: 10%;
    object-fit: cover;
    order: -1;
    color: #e50914;
}
.sign-in-btn{
    text-decoration: none;
    background: #e50914;
    color: white;
    padding: .5em 1.5em;
    text-align: center;
    text-justify:inter-cluster;
    border-radius: 4px;
    order: 1;
}
hr{
    background-color: rgb(51, 54, 77);
    color: black;
    margin: 0;
    padding: .2em ;
    border: none;
}

.text{
    text-align: center;
    color: white;
    margin-top: 50px;
}
.flex-two{
    display: flex;
    justify-content: center;
}
.get-started-btn{
  background: #e50914;
  border: none;  
  color: white;
  padding: 0em 5em;

}
#email-input{
    padding: 1.5em 8em;
}
.step-two{
    background: black;
    display: flex;
    color: white;
   justify-content: center;
   margin: 0;
   border-bottom: 8px solid #222;
}
.step-two-text{
   margin: 6em 4em 0 4em;
   margin-top: 6em;

}
.tv-image{
    width: 70%;
   
}
.container{
    border-bottom: 8px solid #222;
}

.flex-animate{
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

video{
    position: absolute;
    width: 30%;
}
.step-three{
    background: black;
    display: flex;
    color: white;
   justify-content: center;
   margin: 0;
   border-bottom: 8px solid #222;
    /* margin-bottom: 4em; */
}
.step-three-text{
    margin-top: 6em;
    order: 1;
    
}
.mobile-image{
    order: -1;
   
}
.border{
    border: 3px solid #222;
    /* padding: 2em 12em;  */
    background: none;
    border-radius: 10px;
    display: flex;
    margin: -0em auto 0em auto; 
}
.step-four{
    border-top: 8px solid #222;
    display: flex;
    justify-content: center;
    margin: 8em 0;
    border-bottom: 8px solid #222;
}
.step-five{
    display: flex;
    justify-content: center;
    margin: 0 4em;
    /* border-bottom: 8px solid #222; */
}
.step-six{
    border-bottom: 8px solid #222;
    border-top: 8px solid #222;
    display: flex;
}
.faq{

 margin: 0 auto;

}
.faq-text{
    text-align: center;
}
a{
    text-decoration: none;
    color: #737373;
}
li{
    list-style-type: none;
    line-height: 2rem;
}

footer{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6em 1em;
}
